
<!--<div class="box1">-->
  <!--<div class="row">-->
    <!--<div class="offset-3"></div>-->
    <!--<div class="col-sm-6" style="margin-top: 25%;-->
                                  <!--background: white;-->
                                 <!--border: 10px green solid;-->
                                  <!--height: 340px">-->
      <!--<div class="box3">-->
        <!--username-->
      <!--</div>-->
      <!--<div class="box3">-->
        <!--<h5>-->
          <!--password-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div class="box4">-->
        <!--LOGIN-->
      <!--</div>-->
      <!--<div style="margin-left: 70px;-->
                <!--margin-top: 25px;">-->
      <!--<span style="color: grey">-->
        <!--Not registered?-->
      <!--</span>-->
        <!--<span style="color: darkgreen">-->
        <!--Create an account-->
      <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--=class code======================================-->
<div class="flex1" style="width: 1000px">
  <div class="box5">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="box5">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="box5">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="box5">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="box5">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

